@use 'src/scss/vars'; 

.cardList{
    display: flex; 
    flex-direction: row;  
    justify-content: center;
    width: 100%;
    flex-wrap: wrap; 
    margin: vars.$gutter*4 auto 0 auto; 
}

.cardList>*{
    flex-basis : 30vh; 
}

@media screen and (min-width: 760px) {
    .cardList{
        width : 100%; 
        flex-direction: row; 
    }

    .cardList>*{
        flex-basis : 20vh; 
    }
}


@media screen and (min-width: 912px) {
    .cardList{
        width : 100%; 
        flex-direction: row; 
    }

    .cardList>*{
        flex-basis : 30vh; 
    }
}