<app-search (searchValueChanged)="onSearchTextEnter($event)"></app-search>

<div class="cardList" *ngIf="itemList$ | async as itemList">
    <!-- <app-card *ngFor="let item of itemList | searchPipe : searchValue" [item]="item"></app-card> -->
    <app-card *ngFor="let item of itemList | searchPipe : searchValue" [item]="item"></app-card>
</div>

<!-- gérer le message d'erreur -->
<div *ngIf = 'errorMessage$ | async as errorMessage' class="errorMessage">MESSAGE D'ERREUR</div>

<!-- <app-pagination [currentPage]="currentPage" [limit]="5" [total]="30" (changePage)="changePage($event)"></app-pagination> -->