<app-header></app-header>
<main class="main">
    <section class="top-frame">
        <div class="top-frame_content">
            <h1>Bienvenue sur <span>MyCiné</span> !</h1>
            <p>La plateforme dont vous n'allez plus vous passer !</p>
            <p>Vous ne savez pas quoi regarder ? Faîtes confaince à <span>MyCiné</span> et sa communauté ! </p>

            <div class="button_container">
                <button class="button">Voir les films</button>
                <button class="button">Voir les séries</button>
            </div>
        </div>
        <div class="top-frame_image">
            <img src="../../../assets/image.jpg"/>
        </div>
    </section>

    <app-carrousel></app-carrousel> 
    <app-carrousel></app-carrousel> 
    <app-carrousel></app-carrousel> 
</main>
<app-footer></app-footer>
