@use 'src/scss/vars';

.carrousel{
    width: fit-content;
    display: flex;  
    margin : 0 auto; 
}

.carrousel_title{
    text-align: center;
    font-size: vars.$font-size*1.5;
    text-transform : uppercase; 
    font-weight: bold;
    color: vars.$primary-color; 
    margin-top: vars.$gutter*10; 
    margin-bottom: vars.$gutter*4;  
}

.message{
    text-align: center;
    font-size: vars.$font-size*1.1;
    font-style: italic;
    margin-bottom: vars.$gutter*4;  
}