@use 'src/scss/vars'; 

.pagination{
    margin-top : vars.$gutter*2; 
    display: flex; 
    justify-content: center;
    align-items : center; 

    &_number{
        color : white; 
        padding : vars.$gutter*0.8; 
    }

    &_number:first-of-type{
        border-radius : 5px 0 0 5px; 
    }

    &_number:last-of-type{
        border-radius : 0 5px 5px 0; 
    }

    &_icons{
        color: vars.$primary-color; 
        margin: 0 vars.$gutter*0.8; 
    }

    .page_active{ 
        border-top: 1px solid vars.$primary-color; 
        background-color: vars.$primary-color; 
    }

    .page_inactive{ 
        border-top: 1px solid vars.$gray-light;  
        background-color: vars.$gray-light; 
    }
}

