<div class="overlay" *ngIf="currentItem$ | async as item">
    <div class="details-container" >
        <div class="content-container">

            <div class="tag-container">
                <div class="item_classification"> 
                    <div class="tag--public" *ngIf="item.classification === 'tous publics' "> {{item.classification | titlecase }} </div>
                    <div class="icon-forbidden" *ngIf="item.classification !== 'tous publics'">{{item.classification}}</div>
                </div>
                <div class="item_time">{{item.duration | durationPipe}}</div>
                <app-tag *ngFor="let genre of item.genres" [genre]="genre"></app-tag>
            </div>
                
            <h1 class="item_title">{{item.name | uppercase}}</h1>
            <h2 class="item_subtitle">{{item.producer?.firstname | titlecase}} {{ item.producer?.lastname | titlecase }} <span>({{item.year}})</span></h2>
                
            <div class="buttons-container">
                <div class="rating-container">
                    <div *ngIf="!isRatingOpen" class="rating">{{item.rating}}</div>
                    <fa-icon (click)="handleRatingOpening()" [ngClass]="{ 'icon far fa-star fa-lg' : true, 'fas star--active' : ratingValue, isRatingOpen}"></fa-icon> 
                    <div [@openClose]="isRatingOpen ? 'open' : 'close'" class="rating-container--open" (click)="handleRatingOpening()" >
                        <p-rating (click)="handleRating()" [(ngModel)]="ratingValue" [cancel]="false"></p-rating>
                    </div>
                </div>

                <fa-icon 
                    (click)='handleClick($event)' 
                    id="favorisIdList" 
                    [ngClass]="{'icon fa-heart fa-lg' : true, 'fas heart--active': (favoriteValue$ | async), 'far' : !(favoriteValue$ | async)}">
                </fa-icon> 
                <fa-icon 
                    (click)='handleClick($event)'
                    id="wishIdList" 
                    [ngClass]="{'icon far fa-bookmark fa-lg' : true, 'fas': (wishValue$ | async), 'far' : !(wishValue$ | async)}">
                </fa-icon> 
                <fa-icon 
                    (click)='handleClick($event)' 
                    id="watchedIdList" 
                    [ngClass]="{'icon far fa-lg' : true, 'fas fa-eye eye--active': (watchedValue$ | async), 'far fa-eye-slash' : !(watchedValue$ | async)}">
                </fa-icon> 
            </div>
                

            <p class="description-section">{{item.description}}</p>
        
            <ul class="actors">
                <li class="actor" *ngFor="let actor of item.actors">{{actor.firstname | titlecase}} {{actor.lastname | titlecase}}</li>
            </ul>

        </div>
            
        <button (click)="handleClose()" class="close-button">x</button>
        <img src='../../../assets/images/{{item.avatar}}' alt='visuel de {{item.name}}'/> 
        
    </div>
</div>