<div class="overlay" *ngIf="currentItem$ | async as item">
    <div class="details-container" >
            <div class="content-container">

                <div class="tag-container">
                    <div class="item_classification tag--public">{{item.classification | titlecase}} </div>
                    <div class="item_time">{{item.duration | durationPipe}}</div>
                    <app-tag *ngFor="let genre of item.genres" [genre]="genre"></app-tag>
                </div>
                
                <h1 class="item_title">{{item.name | uppercase}}</h1>
                <h2 class="item_subtitle">{{item.producer?.firstname | titlecase}} {{ item.producer?.lastname | titlecase }} <span>({{item.year}})</span></h2>
                
                <div class="buttons-container">
                    <fa-icon class="heart icon far fa-heart fa-lg"></fa-icon> 
                    <fa-icon class="bookmark icon far fa-bookmark fa-lg"></fa-icon> 
                    <fa-icon class="thumbUp icon far fa-thumbs-up fa-lg"></fa-icon> 
                    <div class="rating-container">
                        <fa-icon class="star icon far fa-star fa-lg"></fa-icon>
                        <div class="rating">{{item.rating}}</div>
                    </div>
                </div>

                <p class="description-section">{{item.description}}</p>
        
                <ul class="actors">
                    <li class="actor" *ngFor="let actor of item.actors">{{actor.firstname | titlecase}} {{actor.lastname | titlecase}}</li>
                </ul>
            </div>
            
            <button (click)="handleClick()" class="close-button">x</button>
            <img src='../../../assets/images/{{item.avatar}}' alt='visuel de {{item.name}}'/> 
        </div>
</div>
