@use 'src/scss/vars'; 

.page-container{
    width: 90%; 
    min-height: 100vh;  
    margin: vars.$gutter*4 auto; 
}

.item_infos{
    display: flex; 
    justify-content: center;
    width: 100%; 
    margin: 0 auto; 
}

img{
    width: 40%; 
    border-radius: 20px;
    max-width: 250px;  
    height: auto;
}

.item_content{
    width: 60%; 
    display:flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
}

.item_title{
    color:vars.$primary-color; 
    font-weight: bold;
    margin: vars.$gutter 0; 
    font-size: 1.1em; 
}

.item_subtitle{
    color: white; 
    font-style:italic;
    margin-bottom: vars.$gutter; 
}

.item_subinfos{
    display: flex; 
    margin: vars.$gutter*2 0; 
    justify-content: center; 
    align-items: baseline;
}

.tag--public{
    color: rgb(180, 18, 18); 
    border: 2px solid rgb(180, 18, 18); 
    font-weight: bold; 
    font-size: 0.9em; 
    border-radius: 10px;  
    padding : vars.$gutter*0.3 vars.$gutter*0.5; 
    margin-right: vars.$gutter; 
}

.item_time{
    color: white; 
}

.tag-container{
    display: flex; 
    justify-content: center; 
    flex-wrap: wrap;
    margin-bottom : vars.$gutter*2; 
}

.buttons-container{
    display: flex; 
    justify-content: center;
    align-items: center; 
}

.buttons-container--mobile{
    margin-top : vars.$gutter*2; 
}

.icon{
    display: flex; 
    align-items: center;
    color: white;
    width: fit-content;
    height : 40px; 
    margin : vars.$gutter*0.5; 
    padding: vars.$gutter*0.5; 
    border-top: 2px solid;
    border-top-color: vars.$primary-color; 
    border-radius: 5px; 
    background-color: vars.$gray;  
    box-shadow: 0px 2px 0px 0px black;
}

.item_description, .item_casting{
    color : white; 
    padding: vars.$gutter; 
    border: 1px solid vars.$primary-color; 
    border-radius : 10px; 
    margin : vars.$gutter*3 auto; 
}

.item_casting--desktop, .item_description--desktop{
    display: none;
}

.item_casting--mobile{
    display: flex;
    flex-wrap : wrap; 
}

.item_casting{
    position : relative;

    span{
        margin: vars.$gutter vars.$gutter; 
    }

    div{
        z-index: 1;
        background-color: vars.$primary-color; 
        color: black; 
        border-radius : 10px; 
        padding : 0.2em; 
        position: absolute; 
        top: -8px; 
    }
}

.buttons-container--desktop{
    display: none; 
}

@media screen and (min-width: 600px) {
   
    .item_title{
        font-size: 1.4em; 
    }
    
    .item_subtitle{
        font-size: 1.2em; 
    }
    
    .item_subinfos{
        font-size: 1.1em; 
    }    
}



@media screen and (min-width: 700px) {
   
    .page-container{
        width: 70%; 
    }

    .buttons-container--mobile{
        display: none; 
    }

    .buttons-container--desktop{
        display: flex; 
        margin-top : vars.$gutter*5; 
    }
}

@media screen and (min-width: 950px) {

    .page-container{
        width: 90%; 
    }
    
    .item_casting--mobile, .item_description{
        display: none;
    }

    .item_content{
        width: 30%; 
    }

    .items--desktop{
        width : 30%; 
        display: flex; 
        flex-direction: column; 
        justify-content: center; 
    }

    .item_casting--desktop, .item_description--desktop{
        display: flex;
        flex-wrap : wrap; 
        min-width: 100%; 
    }
}

