<!-- <div class="stars-container stars-container--empty">
    <fa-icon [class]="(rating == 0) ? 'far fa-star' : (rating > 0 && rating < 1) ? 'fas fa-star-half-alt' : 'fas fa-star'"></fa-icon>
    <fa-icon [class]="(rating > 1 && rating < 2) ? 'fas fa-star-half-alt' : (rating >= 2) ? 'fas fa-star' : 'far fa-star'"></fa-icon>
    <fa-icon [class]="(rating > 2 && rating < 3) ? 'fas fa-star-half-alt' : (rating >= 3) ? 'fas fa-star' : 'far fa-star'"></fa-icon>
    <fa-icon [class]="(rating > 3 && rating < 4) ? 'fas fa-star-half-alt' : (rating >= 4) ? 'fas fa-star' : 'far fa-star'"></fa-icon>
    <fa-icon [class]="(rating > 4 && rating < 5) ? 'fas fa-star-half-alt' : (rating >= 5) ? 'fas fa-star' : 'far fa-star'"></fa-icon>
</div> -->


