@use 'src/scss/vars'; 

.stars-container{
    display: flex; 
    
    .icon{
        margin-right: vars.$gutter; 
    }

    .icon:last-of-type{
        margin-right: 0; 
    }

    color: yellow; 
}


