<div class="overlay-menuBurger">
    <div class="menuBurger">
        <button class="menuBurger_close-button" (click) = handleClick()>x</button>
        <nav class="menuBurger_navLink">
            <li><a (click) = handleClick() [routerLinkActive]="'active'" [routerLink]="''" [routerLinkActiveOptions]="{ exact: true }">Accueil</a></li>
            <li><a (click) = handleClick() [routerLinkActive]="'active'" [routerLink]="'/movies'" [routerLinkActiveOptions]="{ exact: true }">Films</a></li>
            <li><a (click) = handleClick() [routerLinkActive]="'active'" [routerLink]="'/series'" [routerLinkActiveOptions]="{ exact: true }">Série</a></li>
            <li><a (click) = handleClick() [routerLinkActive]="'active'" [routerLink]="'/test'" [routerLinkActiveOptions]="{ exact: true }">Mon profil</a></li>
            <li><a (click) = handleClick() [routerLinkActive]="'active'" [routerLink]="'/library'" [routerLinkActiveOptions]="{ exact: true }">Ma bibliothèque</a></li>
        </nav>
        <app-button [text]="'Déconnexion'" class="primary-button"></app-button>
    </div>
</div>
