@use 'src/scss/vars'; 

.card{  
    color: white;
    background-color: black;
    width:100%; 
    border : 1px solid vars.$primary-color; 
    border-radius: 20px;
    
    &_image{
        img{
            width: 100%; 
            border-radius: 20px 20px 0 0;
        }
    }

    &_content{
        padding: vars.$gutter; 
        display: flex; 
        flex-direction: column; 
        align-items: center; 
        text-align: center; 
    }

    &_title{
        color : vars.$primary-color; 
        margin-bottom: vars.$gutter; 
        font-weight: 600; 
    }

    &_subtitle{
        color : vars.$primary-color; 
        margin-bottom: vars.$gutter; 
        font-style: italic; 
    }

    &_description{
        margin-top: vars.$gutter; 
    }
    

    .icons-container, .stars-container{
        margin: vars.$gutter; 
        display: flex; 
        
        .icon{
            margin-right: vars.$gutter; 
        }

        .icon:last-of-type{
            margin-right: 0; 
        }
    }
}
