@use 'src/scss/vars'; 

.cardList{
    display: flex; 
    flex-direction: row;  
    align-items: center;
    justify-content: center;
    width: 90%;
    flex-wrap: wrap; 
    margin: vars.$gutter*4 auto 0 auto; 
}

.cardList>*{
    flex-basis : 50%; 
}

@media screen and (min-width: 500px) {
    .cardList>*{
        flex-basis : 33.33%; 
    }
}


@media screen and (min-width: 912px) {
    .cardList>*{
        flex-basis : 25%; 
    }
}

@media screen and (min-width: 960px) {
    .cardList>*{
        flex-basis : 20%; 
    }
}


@media screen and (min-width: 1500px) {
    .cardList>*{
        flex-basis : 16.6%; 
    }
}