<!-- <app-search (searchValueChanged)="onSearchTextEnter($event)"></app-search> -->
<app-search></app-search>
<div class="cardList" *ngIf="itemList$ | async as itemList">
        
    <!-- SEARCH PIPE
        <app-card *ngFor="let item of itemList | searchPipe : searchValue" [item]="item"></app-card> 
    -->

    <app-card *ngFor="let item of itemList" [item]="item"></app-card>
</div>

<!-- gérer le message d'erreur -->
<div *ngIf = 'errorMessage$ | async as errorMessage' class="errorMessage">MESSAGE D'ERREUR</div>

<router-outlet></router-outlet>