<div class="carrousel-container">

	<h2 class="carrousel_title">Titre de la section</h2>

	<div class="carrousel-inner">
		<div class="track">
			
			<div class="card-container" *ngFor="let item of itemList$ | async; index as indexOfelement">
				<!-- <li *ngIf="currentIndex.includes(indexOfelement)">{{indexOfelement}} {{item.name}}</li>  -->
				<app-card [item]="item"></app-card>
			</div>
	
		</div>

	</div>
	
	<div class="nav">
		<button (click)="handleNext()" class="icon next"><fa-icon class='fas fa-xl fa-caret-right'></fa-icon></button>
		<button class="icon prev"><fa-icon class='fas fa-xl fa-caret-left'></fa-icon></button>
	</div>
</div>
