@use 'src/scss/vars'; 

.carrousel{
    width: 90%;
    margin: vars.$gutter*8 auto; 
    display: flex; 
    flex-direction: column; 
    justify-content: center;

    &_title{
        text-align: center; 
        font-size: vars.$font-size*1.3;
        font-weight: bold;
        color: vars.$primary-color;
        margin: vars.$gutter*2 0; 
    }
}

.cardList{
    display: flex; 
    flex-direction : row; 
    flex-wrap: wrap;
    justify-content: center;
}

.cardList>*{
    flex-basis : 20%; 
}