<div class="carrousel-container">

	<!-- <h2 class="carrousel_title">Titre de la section</h2> -->

	<div class="carrousel-inner">
		<div class="track">
			
			<div class="card-container" *ngFor="let item of itemList$ | async">
				<app-card [item]="item"></app-card>
			</div>
	
			<!-- <div class="card-container">
				<div class = 'card'>
					<img src='../../../assets/images/heroes_academy.png' alt='visuel du film'>
				</div>
			</div>
	
			<div class="card-container">
				<div class = 'card'>
					<img src='../../../assets/images/future_never_dies.png' alt='visuel du film'>
				</div>
			</div>
	
			<div class="card-container">
				<div class = 'card'>
					<img src='../../../assets/images/mieve_thille.png' alt='visuel du film'>
				</div>
			</div>
	
			<div class="card-container">
				<div class = 'card'>
					<img src='../../../assets/images/landscape.png' alt='visuel du film'>
				</div>
			</div>
	
			<div class="card-container">
				<div class = 'card'>
					<img src='../../../assets/images/musique_campagne.png' alt='visuel du film'>
				</div>
			</div>
	
			<div class="card-container">
				<div class = 'card'>
					<img src='../../../assets/images/star_is_born.png' alt='visuel du film'>
				</div>
			</div>
	
			<div class="card-container">
				<div class = 'card'>
					<img src='../../../assets/images/mask_of_horror.png' alt='visuel du film'>
				</div>
			</div>
	
			<div class="card-container">
				<div class = 'card'>
					<img src='../../../assets/images/foehe.png' alt='visuel du film'>
				</div>
			</div>
	
			<div class="card-container">
				<div class = 'card'>
					<img src='../../../assets/images/paralleles.png' alt='visuel du film'>
				</div>
			</div> -->
		</div>

	</div>
	
	<div class="nav">
		<button class="icon next"><fa-icon class='fas fa-xl fa-caret-right'></fa-icon></button>
		<button class="icon prev"><fa-icon class='fas fa-xl fa-caret-left'></fa-icon></button>
	</div>
</div>
