<div class="search">
    <div class="searchBar">
        <fa-icon class="searchBar_icon"  [icon]="searchIcon" style></fa-icon> 
        <input  class="searchBar_input" type="text" placeholder="Rechercher un film" [(ngModel)] = 'searchBarValue' (input)='onSearchValueChanged()'>
    </div>
        
    <div class="button-container">
        <button (click) ='handleFilterMenu()' class="button">Filtrer <fa-icon [icon]="filterIcon" style></fa-icon></button>
        <button (click) = 'resetFilter()' class="button-reset"><fa-icon [icon]="resetIcon" style></fa-icon></button>
    </div>
</div>

<app-filter *ngIf="isFilterMenuOpen"></app-filter>
