@use 'vars.scss'; 
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;0,800;1,400&display=swap');
@import url("https://use.fontawesome.com/releases/v6.1.1/css/all.css" ); 

body {
    margin: 0;
    background-color: vars.$secondary-color; 
    font-family: 'Montserrat', 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
