$primary-color: rgb(226, 180, 28); 
// $secondary-color: #1e1e20; 
$secondary-color: #181818; 
$green: #678983;
// $secondary-color: #181D31;
// $gray : #38383a; 
$pink : #EC3655; 
$gray : #38383a; 
$gray-light: #cccc;
$gutter: 0.7rem;
$font-size: 1rem; 
$font-Montserrat: 'Montserrat', sans-serif;
