$primary-color: rgb(226, 180, 28); 
$secondary-color: black; 
// $gray : rgb(163, 163, 163); 
$gray : #1e1e20; 
$gray-light: #cccc;
$gutter: 0.7rem;
$font-size: 1rem; 
$font-Montserrat: 'Montserrat', sans-serif;
