@use 'src/scss/vars'; 

.header{
    width:80%; 
    margin:0 auto; 
    display: flex; 
    align-items: center;
    justify-content: space-between;
    padding-top: vars.$gutter; 
    background-color: vars.$secondary-color;  

    &_logo{
        font-size: vars.$font-size*1.3;
        font-weight: bold; 
        color: vars.$primary-color; 
    }

    &_logo:hover{
        cursor: pointer;
    }     

    &_nav--desktop{
        display: none;  
    }
}

.active{
    font-weight : bold; 
    color : vars.$primary-color; 
}

@media screen and (min-width: 950px) {

    .header{
        &_nav--desktop{
            color: white; 
            display: flex; 
            align-items: center;
            justify-content: space-between;
        
            ul{
                display: flex; 
                align-items: center;    
            }

            .nav_link:hover{ 
                color : vars.$primary-color; 
                cursor: pointer; 
            }
    
            .nav_link:nth-child(2n)::after, .nav_link:nth-child(2n)::before{
                content: '.';
                padding: 1rem; 
                align-self:flex-end; 
                font-size: 1em;
                font-weight : bold; 
                color : vars.$primary-color; 
            }
        }

        &_menu-burger{
            display: none; 
        }
    }

    // à voir pour ne pas répéter ce code ! 
    .button{
        border: 1px solid vars.$primary-color; 
        background-color: vars.$secondary-color;
        color : vars.$primary-color; 
        border-radius : 10px; 
        padding : vars.$gutter*0.4;
        width: fit-content; 
    }

    .button:hover{
        border: 1px solid vars.$secondary-color; 
        background-color: vars.$primary-color; 
        color : vars.$secondary-color; 
    }

}