<header class='header'>

    <h1 class='header_logo'><a [routerLink]="''">MYCINE</a></h1>
    <fa-icon class="header_menu-burger fas fa-bars fa-lg" (click) = "handleClick()"></fa-icon> 
    
    <nav class='header_nav--desktop'>
        <ul>
            <li class = 'nav_link'><a [routerLinkActive]="'active'" [routerLink]="''" [routerLinkActiveOptions]="{ exact: true }">Accueil</a></li>
            <li class = 'nav_link'><a [routerLinkActive]="'active'" [routerLink]="'/movies'">Films</a></li>
            <li class = 'nav_link'><a href='#'>Séries</a></li>
        </ul>
    </nav>
    
    <nav class='header_nav--desktop'>
        <ul>
            <li class = 'nav_link'><a [routerLinkActive]="'active'" [routerLink]="'/library'">Ma bibliothèque</a></li>
            <li class = 'nav_link'>Mon profil</li>    
            <li class = 'nav_link'><app-button [text]="'Déconnexion'" class="primary-button"></app-button></li>  
        </ul>
    </nav>
 
</header>