<header class='header'>
    <h1 class='header_logo'>MYCINE</h1>
    <fa-icon class="header_menu-burger"  [icon]="menuBurgerIcon"></fa-icon> 
    
    <nav class='header_nav--desktop'>
        <ul>
            <li class = 'nav_link'>Accueil</li>
            <li class = 'nav_link'>Films</li>
            <li class = 'nav_link'>Séries</li>
        </ul>
    </nav>
    
    <nav class='header_nav--desktop'>
        <ul>
            <li class = 'nav_link'>Ma bibliothèque</li>
            <li class = 'nav_link'>Mon profil</li>    
            <button class='button'>Déconnexion</button>
        </ul>
    </nav>
 
</header>

